<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.template.dao.DicDepartmentMapper">

	<resultMap id="BaseResultMap" type="com.template.domain.DicDepartment">
		<id column="departmentId" property="departmentId"  />
		<result column="departmentCode" property="departmentCode" />
		<result column="departmentName" property="departmentName" />
		<result column="parentCode" property="parentCode" />
		<result column="parentName" property="parentName" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select *
		from dic_department
		where departmentId = #{departmentId}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select a.*,(select departmentName from dic_department b where b.departmentCode=a.parentCode) parentName
		from dic_department a
		<where>
			<if test="departmentCode != null and departmentCode != ''">
				departmentCode = #{departmentCode} 
			</if>
			<if test="departmentName != null and departmentName != ''">
				and departmentName like CONCAT('%',#{departmentName},'%')
			</if>
			<if test="parentCode != null and parentCode != ''">
				and parentCode = #{parentCode} 
			</if>
		</where>
	</select>
	
	<select id="getByParentCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select top(1) a.*
		from dic_department a
		where parentCode = #{parentCode}
		order by departmentCode desc
	</select>
	
	<insert id="insert" parameterType="com.template.domain.DicDepartment">
		insert into dic_department
		( departmentCode, departmentName, parentCode )
		values
		( #{departmentCode}, #{departmentName}, #{parentCode} )
	</insert>
	
	<update id="update" parameterType="com.template.domain.DicDepartment">
		update dic_department
		<set>
			<if test="departmentCode != null and departmentCode != ''">
				departmentCode = #{departmentCode},
			</if>
			<if test="departmentName != null and departmentName != ''">
				departmentName = #{departmentName},
			</if>
			<if test="parentCode != null and parentCode != ''">
				parentCode = #{parentCode},
			</if>
		</set>
		where departmentId = #{departmentId}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from dic_department
		where departmentId = #{departmentId}
	</delete>
</mapper>