<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.template.dao.DicDrugMapper">

	<resultMap id="BaseResultMap" type="com.template.domain.DicDrug">
		<id column="id" property="id"  />
	    <result column="expenseClass" property="expenseClass"  />
	    <result column="storeClass" property="storeClass"  />
	    <result column="itemName" property="itemName"  />
	    <result column="spec" property="spec"  />
	    <result column="vendor" property="vendor"  />
	    <result column="unit" property="unit"  />
	    <result column="clinicUnit" property="clinicUnit"  />
	    <result column="clinicUnitRatio" property="clinicUnitRatio"  />
	    <result column="inhosUnit" property="inhosUnit" />
	    <result column="inhosUnitRatio" property="inhosUnitRatio"  />
	    <result column="adviceUnit" property="adviceUnit" />
	    <result column="adviceUnitValue" property="adviceUnitValue"  />
	    <result column="adviceUnitValueUnit" property="adviceUnitValueUnit"  />
	    <result column="adviceUnitClinicRatio" property="adviceUnitClinicRatio"  />
	    <result column="adviceUnitInhosRatio" property="adviceUnitInhosRatio"  />
	    <result column="wb" property="wb"  />
	    <result column="py" property="py"  />
	    <result column="drugFunction" property="drugFunction"  />
	    <result column="drugClass" property="drugClass"  />
	    <result column="drugFrom" property="drugFrom"  />
	    <result column="compositeItem" property="compositeItem"  />
	    <result column="subItemSelect" property="subItemSelect"  />
	    <result column="partSelect" property="partSelect"  />
	    <result column="changePrice" property="changePrice"  />
	    <result column="showInAdvice" property="showInAdvice"  />
	    <result column="enabled" property="enabled"  />
	    <result column="hzylCode" property="hzylCode"  />
	    <result column="hzylVerify" property="hzylVerify"  />
	    <result column="hzylReimburse" property="hzylReimburse"  />
	    <result column="ybCode" property="ybCode"  />
	    <result column="ybClinicSelfRatio" property="ybClinicSelfRatio"  />
	    <result column="ybInhosSelfRatio" property="ybInhosSelfRatio"  />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select *
		from dic_drug
		where id = #{id}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select *
		from dic_drug
		<where>
			<if test="itemName != null and itemName != ''">
				( itemName like CONCAT('%',#{itemName},'%') ) OR ( wb like CONCAT('%',#{itemName},'%') ) OR ( py like CONCAT('%',#{itemName},'%') )
			</if>
			<if test="enabled != null and enabled != ''">
				enabled = #{enabled}
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.template.domain.DicDrug">
		insert into dic_drug (
		  id, expenseClass, storeClass, 
	      itemName, spec, vendor, unit, 
	      clinicUnit, clinicUnitRatio, inhosUnit, 
	      inhosUnitRatio, adviceUnit, adviceUnitValue, 
	      adviceUnitValueUnit, adviceUnitClinicRatio, 
	      adviceUnitInhosRatio, wb, py, 
	      drugFunction, drugClass, drugFrom, 
	      compositeItem, subItemSelect, partSelect, 
	      changePrice, showInAdvice, enabled, 
	      hzylCode, hzylVerify, hzylReimburse, 
	      ybCode, ybClinicSelfRatio, ybInhosSelfRatio
	    )
	    values (
	      #{id}, #{expenseClass}, #{storeClass}, 
	      #{itemName}, #{spec}, #{vendor}, #{unit}, 
	      #{clinicUnit}, #{clinicUnitRatio}, #{inhosUnit}, 
	      #{inhosUnitRatio}, #{adviceUnit}, #{adviceUnitValue}, 
	      #{adviceUnitValueUnit}, #{adviceUnitClinicRatio}, 
	      #{adviceUnitInhosRatio}, #{wb}, #{py}, 
	      #{drugFunction}, #{drugClass}, #{drugFrom}, 
	      #{compositeItem}, #{subItemSelect}, #{partSelect}, 
	      #{changePrice}, #{showInAdvice}, #{enabled}, 
	      #{hzylCode}, #{hzylVerify}, #{hzylReimburse}, 
	      #{ybCode}, #{ybClinicSelfRatio}, #{ybInhosSelfRatio} 
	    )
	</insert>
	
	<update id="update" parameterType="com.template.domain.DicDrug">
		update dic_drug
		<set >
	      <if test="expenseClass != null" >
	        expenseClass = #{expenseClass},
	      </if>
	      <if test="storeClass != null" >
	        storeClass = #{storeClass},
	      </if>
	      <if test="itemName != null" >
	        itemName = #{itemName},
	      </if>
	      <if test="spec != null" >
	        spec = #{spec},
	      </if>
	      <if test="vendor != null" >
	        vendor = #{vendor},
	      </if>
	      <if test="unit != null" >
	        unit = #{unit},
	      </if>
	      <if test="clinicUnit != null" >
	        clinicUnit = #{clinicUnit},
	      </if>
	      <if test="clinicUnitRatio != null" >
	        clinicUnitRatio = #{clinicUnitRatio},
	      </if>
	      <if test="inhosUnit != null" >
	        inhosUnit = #{inhosUnit},
	      </if>
	      <if test="inhosUnitRatio != null" >
	        inhosUnitRatio = #{inhosUnitRatio},
	      </if>
	      <if test="adviceUnit != null" >
	        adviceUnit = #{adviceUnit},
	      </if>
	      <if test="adviceUnitValue != null" >
	        adviceUnitValue = #{adviceUnitValue},
	      </if>
	      <if test="adviceUnitValueUnit != null" >
	        adviceUnitValueUnit = #{adviceUnitValueUnit},
	      </if>
	      <if test="adviceUnitClinicRatio != null" >
	        adviceUnitClinicRatio = #{adviceUnitClinicRatio},
	      </if>
	      <if test="adviceUnitInhosRatio != null" >
	        adviceUnitInhosRatio = #{adviceUnitInhosRatio},
	      </if>
	      <if test="wb != null" >
	        wb = #{wb},
	      </if>
	      <if test="py != null" >
	        py = #{py},
	      </if>
	      <if test="drugFunction != null" >
	        drugFunction = #{drugFunction},
	      </if>
	      <if test="drugClass != null" >
	        drugClass = #{drugClass},
	      </if>
	      <if test="drugFrom != null" >
	        drugFrom = #{drugFrom},
	      </if>
	      <if test="compositeItem != null" >
	        compositeItem = #{compositeItem},
	      </if>
	      <if test="subItemSelect != null" >
	        subItemSelect = #{subItemSelect},
	      </if>
	      <if test="partSelect != null" >
	        partSelect = #{partSelect},
	      </if>
	      <if test="changePrice != null" >
	        changePrice = #{changePrice},
	      </if>
	      <if test="showInAdvice != null" >
	        showInAdvice = #{showInAdvice},
	      </if>
	      <if test="enabled != null" >
	        enabled = #{enabled},
	      </if>
	      <if test="hzylCode != null" >
	        hzylCode = #{hzylCode},
	      </if>
	      <if test="hzylVerify != null" >
	        hzylVerify = #{hzylVerify},
	      </if>
	      <if test="hzylReimburse != null" >
	        hzylReimburse = #{hzylReimburse},
	      </if>
	      <if test="ybCode != null" >
	        ybCode = #{ybCode},
	      </if>
	      <if test="ybClinicSelfRatio != null" >
	        ybClinicSelfRatio = #{ybClinicSelfRatio},
	      </if>
	      <if test="ybInhosSelfRatio != null" >
	        ybInhosSelfRatio = #{ybInhosSelfRatio},
	      </if>
	    </set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from dic_drug
		where id = #{id}
	</delete>
</mapper>