<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.template.dao.DicMiContrastMapper">

	<resultMap id="BaseResultMap" type="com.template.domain.DicMiContrast">
		<result column="bm" property="bm" />
		<result column="name" property="name" />
		<result column="fyClass" property="fyClass" />
		<result column="clinicSelf" property="clinicSelf" />
		<result column="inhoSelf" property="inhoSelf" />
	</resultMap>

	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select *
		from dic_mi_constrast
		<where>
			<if test="bm != null and bm != ''">
				bm = #{bm} 
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT('%',#{name},'%')
			</if>
			<if test="fyClass != null and fyClass != ''">
				fyClass = #{fyClass} 
			</if>
			<if test="clinicSelf != null and clinicSelf != ''">
				clinicSelf = #{clinicSelf} 
			</if>
			<if test="inhoSelf != null and inhoSelf != ''">
				inhoSelf = #{inhoSelf} 
			</if>
		</where>
	</select>
	
</mapper>