<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.template.dao.DicProviderMapper">

	<resultMap id="BaseResultMap" type="com.template.domain.DicProvider">
		<id column="id" property="id"  />
		<result column="providerName" property="providerName" />
		<result column="addr" property="addr" />
		<result column="phone" property="phone" />
		<result column="linkman" property="linkman" />
		<result column="finance" property="finance" />
		<result column="bank" property="bank" />
		<result column="wb" property="wb" />
		<result column="py" property="py" />
		<result column="enabled" property="enabled" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select *
		from dic_provider
		where id = #{id}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select *
		from dic_provider
		<where>
			<if test="providerName != null and providerName != ''">
				and  ( providerName like CONCAT('%',#{providerName},'%') ) OR ( wb like CONCAT('%',#{providerName},'%') ) OR ( py like CONCAT('%',#{providerName},'%') )
			</if>
			<if test="status != null and status != ''">
				and  enabled = #{status}
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.template.domain.DicProvider">
		insert into dic_provider
		( providerName, addr, phone , linkman, finance, bank , wb, py, enabled )
		values
		( #{providerName}, #{addr}, #{phone}, #{linkman}, #{finance}, #{bank}, #{wb}, #{py}, #{enabled} )
	</insert>
	
	<update id="update" parameterType="com.template.domain.DicProvider">
		update dic_provider
		set
			providerName = #{providerName},
			addr = #{addr},
			phone = #{phone},
			linkman = #{linkman},
			finance = #{finance},
			bank = #{bank},
			wb = #{wb},
			py = #{py},
			enabled = #{enabled}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from dic_provider
		where id = #{id}
	</delete>
	
	<update id="updateStatus" parameterType="int">
		update dic_provider set enabled = #{status}
		where id = #{id}
	</update>
</mapper>