<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.template.dao.StoreCheckMapper">
	
	<resultMap id="BaseResultMap" type="com.template.domain.StoreCheck">
		<id column="checkNo" property="checkNo"  />
		<result column="storeName" property="storeName" />
		<result column="checkTime" property="checkTime" />
		<result column="inSum" property="inSum" />
		<result column="retailSum" property="retailSum" />
		<result column="checkRetailSum" property="checkRetailSum" />
		<result column="checkOper" property="checkOper" />
		<result column="sealOper" property="sealOper" />
		<result column="sealTime" property="sealTime" />
	</resultMap>

	<select id="getByCheckNo" resultMap="BaseResultMap" parameterType="int">
		select *
		from storeCheck
		where checkNo = #{checkNo}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select *
		from storeCheck
		<where>
			<if test="storeName != null and storeName != ''">
				and storeName = #{storeName}
			</if>
			<if test="checkOper != null and checkOper != ''">
				and checkOper = #{checkOper}
			</if>
			<if test="statusFlag == '0'">
				and sealOper is null
			</if>
			<if test="currYearMonth != null and currYearMonth != ''">
				and checkNo like CONCAT('',#{currYearMonth},'%')  
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.template.domain.StoreCheck">
		insert into storeCheck
		( checkNo, storeName, checkTime, inSum, retailSum, checkRetailSum, checkOper, sealOper, sealTime )
		values
		( #{checkNo}, #{storeName}, #{checkTime}, #{inSum}, #{retailSum}, #{checkRetailSum}, #{checkOper}, #{sealOper}, #{sealTime} )
	</insert>
	
	<update id="update" parameterType="com.template.domain.StoreCheck">
		update storeCheck
		<set>
			<if test="storeName != null and storeName != ''">
				storeName = #{storeName},
			</if>
			<if test="checkTime != null">
				checkTime = #{checkTime},
			</if>
			<if test="inSum != null and inSum != ''">
				inSum = #{inSum},
			</if>
			<if test="retailSum != null and retailSum != ''">
				retailSum = #{retailSum},
			</if>
			<if test="checkRetailSum != null and checkRetailSum != ''">
				checkRetailSum = #{checkRetailSum},
			</if>
			<if test="checkOper != null and checkOper != ''">
				checkOper = #{checkOper},
			</if>
			<if test="sealOper != null and sealOper != ''">
				sealOper = #{sealOper},
			</if>
			<if test="sealTime != null">
				sealTime = #{sealTime},
			</if>
		</set>
		where checkNo = #{checkNo}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from storeCheck
		where checkNo = #{checkNo}
	</delete>
</mapper>