<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.template.dao.StoreInOutDetailMapper">

	<resultMap id="BaseResultMap" type="com.template.domain.StoreInOutDetail">
		<id column="id" property="id"  />
		<result column="billNo" property="billNo"  />
		<result column="orderNo" property="orderNo" />
		<result column="drugId" property="drugId" />
		<result column="invoiceNo" property="invoiceNo" />
		<result column="batchNo" property="batchNo" />
		<result column="amount" property="amount" />
		<result column="price1" property="price1" />
		<result column="price2" property="price2" />
		<result column="validDate" property="validDate" />
	</resultMap>
	
	<insert id="insert" parameterType="com.template.domain.StoreInOutDetail">
		insert into storeInOutDetail
		( billNo, orderNo, drugId, invoiceNo, batchNo, amount, price1, price2, validDate )
		values
		( #{billNo}, #{orderNo}, #{drugId}, #{invoiceNo}, #{batchNo}, #{amount}, #{price1}, #{price2}, #{validDate} )
	</insert> 
	<delete id="delete" parameterType="int">
		delete from storeInOutDetail where billNo=#{billNo}
	</delete>
	<select id="getByBillNo" resultMap="BaseResultMap" parameterType="int">
		select *
		from storeInOutDetail where billNo=#{billNo}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select *
		from storeInOutDetail
		<where>
			<if test="billNo != null and billNo != ''">
				and billNo = #{billNo}
			</if>
			<if test="drugId != null and drugId != ''">
				and drugId = #{drugId}
			</if>
			<if test="batchNo != null and batchNo != ''">
				and batchNo = #{batchNo}
			</if>
		</where>
	</select>
	
	<select id="getDrugLatestPrice" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select top(1) siod.price1,siod.price2
		from storeInOutDetail siod
		inner join storeInOut sio
		on sio.billNo = siod.billNo and sio.billType = '入库'
		<where>
			<if test="storeName != null and storeName != ''">
				and sio.storeName = #{storeName}
			</if>
			<if test="drugId != null and drugId != ''">
				and siod.drugId = #{drugId}
			</if>
			<if test="batchNo != null and batchNo != ''">
				and siod.batchNo = #{batchNo}
			</if>
		</where>
		order by sio.billNo desc
	</select>
	
</mapper>
